* {
    margin: 0px;
    padding: 0px;
    border: none;
}

body {
    font-family: sans-serif;
}

.header {
    margin: 20px;
    font-size: 24px;
    text-align: center;
}

.description {
    margin: 20px;
    font-size: 24px;
    text-align: center;
}

.number-range {
    position: relative;
    text-align: center;
}
.number-range__input {
    width: 50%;
    -webkit-appearance: none;
    background: transparent;
}
.number-range__input:focus {
    outline: none;
}
.number-range__input::-webkit-slider-runnable-track {
    cursor: pointer;
    background: white;
    border-radius: 50px;
    border: 2px solid #2c3e50;
    transition: border 0.5s ease-in-out;
}
.number-range__input::-webkit-slider-runnable-track:focus,
.number-range__input::-webkit-slider-runnable-track:hover {
    border: 2px solid #2f64f5;
}
.number-range__input::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 100%;
    margin: 1px 0px;
    background-color: #2f64f5;
}
.number-range__input::-webkit-slider-thumb:focus,
.number-range__input::-webkit-slider-thumb:hover {
    background-color: #2f64f5;
}
.number-range__0,
.number-range__200 {
    position: relative;
    font-size: 12px;
    bottom: 6px;
    opacity: 0.75;
}

.text-general {
    font-size: 18px;
}

.text-thick {
    font-size: 24px;
    font-weight: 600;
}

.number-guess {
    text-align: center;
    margin: 10px;
}
.number-guess__input {
    width: 15%;
    padding: 3px;
    border-bottom: 2px solid black;
    border-radius: 3px;
    transition: border-bottom 0.5s ease-in-out;
    font-size: 18px;
    font-weight: 600;
}
.number-guess__input:focus {
    outline: none;
    border-bottom: 2px solid #2f64f5;
}
.number-guess__input:hover {
    text-decoration: none;
    border-bottom: 2px solid #2f64f5;
}
.number-guess__input::placeholder {
    font-size: 15px;
    font-weight: 200;
    text-align: center;
}
.number-guess__input:focus::placeholder {
    color: transparent;
}
.number-guess__btn {
    background: none;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 15px;
    transition: border 0.5s ease-in-out;
}
.number-guess__btn:hover {
    border: 2px solid #2f64f5;
}

.number-display {
    text-align: center;
    margin: 10px;
}
.number-display__yours {
    font-weight: bold;
    color: #2f64f5;
}
.number-display__machines {
    font-weight: bold;
    color: #e74c3c;
}

@keyframes flash {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
.answer {
    text-align: center;
    margin: 10px;
    animation: flash 1s infinite ease-in-out;
}
