@keyframes fadeout-left {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate(-25%);
    }
}

@keyframes fadeout-right {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
        transform: translate(25%);
    }
}

@keyframes fadein-left {
    from {
        opacity: 0;
        transform: translate(-25%);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadein-right {
    from {
        opacity: 0;
        transform: translate(25%);
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeout-point {
    from {
        opacity: 1;
        transform: scale(1);
    }
    to {
        opacity: 0;
        transform: scale(0);
    }
}

@keyframes fadein-point {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fadeout-left {
    animation-duration: 1s;
    animation-name: fadeout-left;
}

.fadeout-right {
    animation-duration: 1s;
    animation-name: fadeout-right;
}

.fadein-left {
    animation-duration: 1s;
    animation-name: fadein-left;
}

.fadein-right {
    animation-duration: 1s;
    animation-name: fadein-right;
}

.fadeout-point {
    animation-duration: 1s;
    animation-name: fadeout-point;
}

.fadein-point {
    animation-duration: 1s;
    animation-name: fadein-point;
}
