@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

@import "reset.css";
@import "variables.css";
@import "animations.css";

/* contents */
@import "contents/search.css";

body {
    font-family: "Noto Sans KR", sans-serif;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
}

.blank {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blank-1 {
    background-color: rgba(0, 255, 255, 0.5);
    height: 10%;
}

.blank-2 {
    background-color: rgba(172, 255, 47, 0.5);
    height: 15%;
}

.blank-3 {
    background-color: rgba(59, 226, 129, 0.5);
    height: 20%;
}

.contents {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 45%;
}

.contents-clock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

.contents-clock__time {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 60%;
    width: 75%;
}

.contents-clock__date {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin-top: 3%;
}

.contents-clock__time__apm {
    position: absolute;
    font-size: 750%;
    left: 25%;
}

.contents-clock__time__hm {
    display: block;
    width: 40%;
    font-size: 1500%;
    text-align: right;
}

.contents-clock__time__sec {
    position: absolute;
    right: 28%;
    font-size: 750%;
}

.contents-clock__date__span {
    font-size: 200%;
}

.text-light {
    color: var(--main-text-light);
}

.text-dark {
    color: var(--main-text-dark);
}
