@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap");

@import "reset.css";
@import "variables.css";
@import "animations.css";

/* contents */
@import "contents/search.css";
@import "contents/contents.css";

body {
    font-family: "Noto Sans KR", sans-serif;
    height: 100vh;
    background-image: url("https://images.pexels.com/photos/733475/pexels-photo-733475.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    /* background-color: white; */
}

.blank {
    display: flex;
    justify-content: center;
    align-items: center;
}
.blank-1 {
    /* background-color: rgba(0, 255, 255, 0.5); */
    height: 10%;
}

.blank-2 {
    /* background-color: rgba(172, 255, 47, 0.5); */
    height: 15%;
}

.blank-3 {
    background-color: rgba(59, 226, 129, 0.5);
    height: 20%;
}

.text-light {
    color: var(--white);
}

.text-dark {
    color: var(--grey-light);
}
